<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">Basta Online!</h1>
      <h4 id="welcomePlayer"></h4>
      <h6>Esperando jugadores...</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container" id="playerCards">
      </div>
    </div>
  </div>
</main>
