<main role="main" class="container">
  <div class="row">
    <div class="col-10">
      <h1 class="display-4">Basta Online!</h1>
      <h4 id="welcomePlayer"></h4>
      <br>
    </div>
    <div class="col-2">
      <button class="btn btn-success w-100 mt-4" onclick="startGame()">Iniciar juego</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5 class="mb-3">Jugadores conectados:</h5>
    </div>
  </div>
  <div class="row row-cols-3" id="playerCards">
  </div>
</main>
